{% extends 'base.html' %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static '/css/buscador.css' %}">
{% endblock %}
{% block contenido %}
        <div class="filtro"> 
            <div class="filltro">
                <select name="fecha">
                    <option value="0" selected>Escoja una Fecha</option>
                    <option value="1">Hoy</option>
                    <option value="2">Ayer</option>
                    <option value="3">Hace una semana</option>
                    <option value="4">Hace 15 días</option>
                    <option value="5">Hace un mes</option>
                </select>
            </div>
            <div class="filltro">
                <select name="area">
                    <option value="0" selected>Escoja una area</option>
                    <option value="1">Ingeniería</option>
                    <option value="2">Enfermeía</option>
                    <option value="3">Contabilidad</option>
                    <option value="4">Tecnología</option>
                    <option value="5">Gastronomía</option>
                </select>
            </div>
            <div class="filltro">
                <select name="provincia">
                    <option value="0" selected>Escoja una provincia</option>
                    <option value="1">Guayas</option>
                    <option value="2">Loja</option>
                    <option value="3">Pichincha</option>
                    <option value="4">Los Rios</option>
                    <option value="5">Santo Domingo</option>
                </select>
            </div>
            <div class="filltro">
                <select name="tipo">
                    <option value="0" selected>Escoja un tipo de trabajo</option>
                    <option value="1">Full-Time</option>
                    <option value="2">Part-Time</option>
                    <option value="3">Pasantias</option>
                </select>
            </div>
        </div>
        {% if object_list %}
        <div class="jobs">
        {% for job in object_list %}
            
                <div class="job">
                <a href=""></a>
                    <div> 
                        <h3>{{ job.empresa }}</h3>
                        <h3>{{ job.ubicacion }}</h3>
                    </div>
                    <div>
                        <h2> <a href="">{{ job.titulo }}</a></h2>
                    </div>
                    <div>
                        <p>{{ job.tipo }}</p>
                        <p>{{ job.fecha }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}