{% extends 'base.html' %}
{% block contenido %}
        <div class="filtro"> 
            <div class="fecha">
                <select name="fecha">
                    <option value="0" selected>Escoja una Fecha</option>
                    <option value="1">Hoy</option>
                    <option value="2">Ayer</option>
                    <option value="3">Hace una semana</option>
                    <option value="4">Hace 15 días</option>
                    <option value="5">Hace un mes</option>
                </select>
            </div>
            <div class="Area">
                <select name="area">
                    <option value="0" selected>Escoja una area</option>
                    <option value="1">Ingeniería</option>
                    <option value="2">Enfermeía</option>
                    <option value="3">Contabilidad</option>
                    <option value="4">Tecnología</option>
                    <option value="5">Gastronomía</option>
                </select>
            </div>
            <div class="Provincia">
                <select name="provincia">
                    <option value="0" selected>Escoja una provincia</option>
                    <option value="1">Guayas</option>
                    <option value="2">Loja</option>
                    <option value="3">Pichincha</option>
                    <option value="4">Los Rios</option>
                    <option value="5">Santo Domingo</option>
                </select>
            </div>
            <div class="tipo">
                <select name="tipo">
                    <option value="0" selected>Escoja un tipo de trabajo</option>
                    <option value="1">Full-Time</option>
                    <option value="2">Part-Time</option>
                    <option value="3">Pasantias</option>
                </select>
            </div>
        </div>
        <div class="jobs">
            <a>
                <div class="job"> 
                    <div> 
                        <h3>Empresa A</h3>
                        <h3>Lugar del trabajo</h3>
                    </div>
                    <div>
                        <h2> Trabajo</h2>
                    </div>
                    <div>
                        <p>Tipo de trabajo</p>
                        <p>fecha de publicación</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="job"> 
                    <div> 
                        <h3>Empresa A</h3>
                        <h3>Lugar del trabajo</h3>
                    </div>
                    <div>
                        <h2> Trabajo</h2>
                    </div>
                    <div>
                        <p>Tipo de trabajo</p>
                        <p>fecha de publicación</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="job"> 
                    <div> 
                        <h3>Empresa A</h3>
                        <h3>Lugar del trabajo</h3>
                    </div>
                    <div>
                        <h2> Trabajo</h2>
                    </div>
                    <div>
                        <p>Tipo de trabajo</p>
                        <p>fecha de publicación</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="job"> 
                    <div> 
                        <h3>Empresa A</h3>
                        <h3>Lugar del trabajo</h3>
                    </div>
                    <div>
                        <h2> Trabajo</h2>
                    </div>
                    <div>
                        <p>Tipo de trabajo</p>
                        <p>fecha de publicación</p>
                    </div>
                </div>
            </a>
            
          
        </div>
{% endblock %}