{% extends 'base.html' %}
{% load static %}
{% block contenido %}
        <div class="main-buscar">
            <form  action="">
                <label for="buscar-empleo">Buscar oferta de: </label>
                <input type="text" name="buscar-empleo">
                <label  for="buscar-ciudad">en</label>
                <select name="buscar-ciudad">
                    <option value="0" selected>Escoja una ciudad</option>
                    <option value="1">Quito</option>
                    <option value="2">Guayaquil</option>
                    <option value="3">Quevedo</option>
                    <option value="4">Ambato</option>
                    <option value="5">Cuenca</option>
                </select>
                <input  type="submit" name="buscar" value="Buscar">
            </form>
        </div>
        <div class="top-box">
            <h2>Lugares con mas trabajo</h2>
            <div class="articulo">
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (1).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Quito</h3> 
                    </div>
                </div>
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (2).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Quito</h3> 
                    </div>
                </div>
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (3).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Quito</h3> 
                    </div>
                </div>
            </div>
        </div>
        <div class="top-box">
            <h2>Empresas</h2>
            <div class="articulo">
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (1).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Empresa A</h3> 
                    </div>
                </div>
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (2).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Empresa B</h3> 
                    </div>
                </div>
                <div class="box">
                    <a href=""></a>
                    <img src="{% static '/img/ciudad (3).jpg' %}" alt="">
                    <div class="hover"> 
                        <h3>Empresa C</h3> 
                    </div>
                </div>
            </div>
        </div>
{% endblock %}