{% extends 'base.html' %}
{% block contenido %}
        <div class="job"> 
            <div> 
                <h3>Empresa A</h3>
                <h3>Lugar del trabajo</h3>
            </div>
            <div>
                <h2> Trabajo</h2>
            </div>
            <div>
                <p>Tipo de trabajo</p>
                <p>fecha de publicación</p>
            </div>
        </div>
        <div>
            <h2>Descripción</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere id dicta, odio veritatis reiciendis excepturi aliquam, earum quibusdam laboriosam natus, sunt ipsa eos hic facilis quam debitis exercitationem eius voluptatibus.
            </p>
        </div>
{% endblock %}