/* Desformatea pagina */
body
{
    background-color:#f5f4f4;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
/* Estilos en la parte del header */
.head
{
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px #191a1d;
}
/* Estilos en la parte del nav */
header nav
{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    
}
.main-menu{
    list-style: none;
    display: flex;
    align-items: center;   
}
/* Separacion entre opciones */
.main-option:nth-child(4),.main-option:nth-child(3),.main-option:nth-child(1)
{
    margin-right:1rem;
    text-align: center;
}
.main-option:nth-child(2)
{
    margin-right:auto;
    text-align: center;
}
/* Tamaño de imagen */
header nav a img
{
    height: 75px;
    width: 150px;
}
header nav ul li a
{
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}
/*  */

header, nav
{
    display: block;
}

/* Estilos de busquedad */
.main-buscar
{
    margin:80px 2rem ;
    height: 150px;
    border:2px solid black;
    display:flex;

}


/* Cards*/

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{
    width: 250px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color:moccasin;
    font-family: sans-serif;
}

.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    
}
